body { 
	background: white; 
}
	
header { 
	background: #f0bf2b; 
}


footer { 
	background: rgb(240, 191, 43); 
}
h1 {font-family:"Brush Script MT","Bradley Hand","Lucinda","Copperplate";}
	.box1{		
		 grid-area: 6/1/20/20;
		border: 1px solid;
		}
	.links{
		 grid-area: 5/1/6/20;
		 border: 1px solid;}
	#image-of-me{
		 background-image: url(" /image/me_poop_desk_small.jpeg");       
		 grid-area: 1/1/5/20;
		height: 320px;
		 width: 300px;
		 background-repeat: no-repeat;
		 background-position: right;
           }
	.h1 {
  		font-family: "Anton", serif;
  		font-weight: 400;
  		font-style: normal;
	}



