body { 
	background: white; 
	font-family: "Verdana","sans-serif";
}
	
header { 
	background: #f0bf2b; 
}


footer { 
	background: rgb(240, 191, 43); 
}
	.box1{		
		 grid-area: 4/11/15/20;
		border: 1px solid;
		background-color: antiquewhite;
		padding: 1em;
		}
	#image-of-me{
		 background-image: url(" /image/me_poop_desk_small.jpeg");       
		 grid-area: 1/1/5/20;
		height: 320px;
		 width: 300px;
		 background-repeat: no-repeat;
		 background-position: right;
           }
	#antonfont {
  		font-family: "Anton", serif;
  		font-weight: 400;
  		font-style: normal;
		color: white;
		line-height: .8;
		font-size: 3em;
		filter: drop-shadow(black .3rem .3rem 4px);
	}



