body { 
	background: DarkGray; 
}
	
header { 
	background: #f0bf2b; 
}


footer { 
	background: rgb(240, 191, 43); 
}
h1 {font-family:"Brush Script MT","Bradley Hand","Lucinda","Copperplate";}
p,div{font-family: "san-sherif";}
#follow{background: rgb(133, 139, 161);}
.time{background: #8d7ae8}
.day{background: Salmon}
.genre{background: rgb(234, 215, 195)}
.author{background: #fbf6ef}
.title{background: Gainsboro}

